# 개발 서버 환경 설정

# allauth
# https://console.developers.google.com/
# 클라이언트 ID / 클라이언트 보안 비밀번호
GOOGLE_CLIENT_ID=변경하시오
GOOGLE_CLIENT_SECRET=변경하시오

# google 소셜 어플리케이션 등록
## admin 페이지(127.0.0.1:8000/admin/)에서 소셜 어플리케이션 추가
### 클라이언트 ID / 클라이언트 보안 비밀번호
GOOGLE_CLIENT_ID=변경하시오
GOOGLE_CLIENT_SECRET=변경하시오
